.qa-div {
    direction: rtl;
    background-color: black;
    width: 100%;
    height: auto;
    text-align: center;
    height: auto;
    font-weight: 400 !important;
    font-family: iranyekan !important;
    font-size: 18px !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header{
    position: relative;
    text-align: center;
    padding: 22px 16px;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 1.5715;
    cursor: pointer;
    font-size: 25px;
    -webkit-transition: all 0.3s, visibility 0s;
    transition: all 0.3s, visibility 0s;
}
.ant-collapse-content {
    color: rgba(7, 7, 7, 0.85);
    font-weight: 400 !important;
    font-family: iranyekan !important;
    font-size: 18px !important;
}
.ant-collapse-borderless > .ant-collapse-item {
    border-bottom: 0px solid #d9d9d9;
    margin-bottom: 20px;
    
}
.ant-collapse-content > .ant-collapse-content-box {
    padding: 16px;
}
.ant-collapse-content-box p {
    margin-top: 0;
    text-align: center;
    font-weight: 400 !important;
    font-family: iranyekan !important;
    font-size: 18px !important;
    margin-bottom: 1em;
}
.collapse{
    direction: rtl;
    background: rgb(248, 248, 248);
    border-radius: 20px !important;}
.ant-collapse-item panel-collapse{
    background: black;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow{
    color: white;
}